.content {
	font: normal 1em Georgia, "Times New Roman", Times, serif;
    background-color: #FFF;
	border: 1px solid #BBB;
	border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 50%;
	min-height:400px;
	height:auto;
	padding: 10px 10px 30px 10px;
}

.header a:link {
	color:#000;
	text-decoration:none;
}
.header a:visited {
	color:#777;
}
.header a:hover {
	color:#333;
}

.article a:link {
	color:#000;
	text-decoration:none;
}
.article a:visited {
	color:#777;
}
.article a:hover {
	color:#333;
}

.header {
	font: normal 3em Georgia, "Times New Roman", Times, serif;
	margin: 0 0 15px 15px;
	font-weight: bold;
}

.searchBox {
	float:right;
}

.header small{
	font: normal 0.4em Georgia, "Times New Roman", Times, serif;
	margin: 0 0 15px 15px;
	font-weight: bold;
}

.article {
	background-color: #EEE;
	border-radius: 5px;
	border: 1px solid #BBB;
	margin: 0 0 10px 0;
	padding: 5px 10px 5px 10px;
}

.articleHeader {
	float: left;
	padding: 5px 0 5px 5px;
	width: 100%;
}

.articleTitle {
	font: normal 3em Georgia, "Times New Roman", Times, serif;
	text-shadow: 1px 1px 1px #ccc;
	float:left;
}

.articleDate {
	color:#AAA;
	font: normal 1em Georgia, "Times New Roman", Times, serif;
	float: right;
}

.articleBody {
	padding: 10px 0 10px 0;
	width: 100%;
}

.articleComments {
	background-color: #FFF;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	border: 1px solid #BBB;
	padding: 10px 1px 5px 5px;
	margin: 10px;
	
}

.articleCommentsSwitch {
	background-color: #EEE;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	border: 1px solid #BBBCBF;
	padding: 5px 5px 5px 5px;
	margin: 10px;
}

.articleComment {
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	padding: 5px 5px 5px 5px;
	margin: 10px;
}

.commentHeader {
	width: 100%;
}

.commentAuthor {
	color:#DBA246;
	width:40%;
	float:left;
}

.commentDate {
	width:40%;
	float:left;
	color:#AAA;
}

.commentReply {
	width:20%;
	float:left;
	color:#888;
	text-align: center
}

.commentBody {
	min-height:30px;
}

.adminMainDiv {
	padding: 10px 0 10px 0;
	background-color: #DDD;
	border-radius: 5px;
	border: 1px solid #BBB;
	text-align: center;
}

.adminMainDiv a:link {
	color:#777;
	text-decoration:none;
	font-size: 3em;
}
.adminMainDiv a:visited {
	color:#777;
	font-size: 3em;
}
.adminMainDiv a:hover {
	color:#000;
	font-size: 3em;
	
}

.adminNewArticleDiv {
	background-color: #EEE;
	border-radius: 5px;
	border: 1px solid #BBB;
	margin: 5px 5px 5px 5px;
	float:left;
	width:48%;
	height:60px;
}

.adminArticleArchiveDiv {
	float:left;	
	background-color: #EEE;
	border-radius: 5px;
	border: 1px solid #BBB;
	margin: 5px 5px 5px 5px;
	width:48%;
	height:60px;
}

.adminAppSettingsDiv {
	float:left;	
	background-color: #EEE;
	border-radius: 5px;
	border: 1px solid #BBB;
	margin: 5px 5px 5px 5px;
	width:48%;
	height:60px;
}

.articleTableDiv {
	padding: 10px 0 10px 0;
	margin-left: auto;
    margin-right: auto;
	width:80%;
	background-color: #EEE;
	border-radius: 5px;
	border: 1px solid #BBB;
}

.articleTable {
	margin-left: auto;
    margin-right: auto;
	border-collapse: collapse;
	width: 80%;
}
.articleTable tr.head{
	background-color: #BBB;
}
.articleTable td.id{

}
.articleTable td.title{
	border-left-style:solid;
	border-color:#CCC;
}
.articleTable td.comment{
	border-left-style:solid;
	border-color:#CCC;
}
.articleTable td.public{
	border-left-style:solid;
	border-color:#CCC;
}
.articleTable tr.even{
	background-color: #DDD;
}
.articleTable tr.odd{
	background-color: #EEE;
}