{% extends "base.html" %}
{% block content %}
	<script type='text/javascript' src='/static/admin.js'></SCRIPT>
	<form name='deleteArticle' action='/admin/deletearticlepost' method='post'>
		<input class='adminDeleteButton' type='button' value='Delete this article' onclick='deletearticle()'/>
		<input type='hidden' value='{{ key }}' name ='key' />
		<input id='hiddenDelete' type='hidden' value='' name='delete' />
	</form>
	<div class='articleEditDiv'>
		<form name='editArticle' action='/admin/editpost' method='post'>
			<div class='titleEditDiv'>
				<input type='text' name='title' value='{{ article.title }}' />
			</div>
			<div class='editBody'>
				<textarea name='body' cols='100' rows='20' onkeyup='previewarticle()' id='articlecontent'>{{ article.body }}</textarea>
			</div>
			<div class='editPublic'>
				{% if article.public %}
					<input type='checkbox' name='public' checked='checked' value='public' /> Public
				{% else %}
					<input type='checkbox' name='public' value='public' /> Public
				{% endif %}
			</div>
			<input type='submit' value='Save' />
			<input type='hidden' name='key' value='{{ key }}' />
		</form>
	</div>
	Preview:
	<div class='article' id='articlepreview'>
		{{ article.body }}
	</div>
	<div class='articleComments'>
		{{ comments }}
	</div>
{% endblock %}